<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>About us</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A300%2C400%2C500%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C500%2C600"/>
  <link rel="stylesheet" href="~/styles/about-us.css"/>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxlswj6IWjzgiuqoG7IxoMWn8kXWU54vY&callback=initMap" async defer></script>

</head>
<body>
<div class="about-us-3Ag">
        <div class="auto-group-qmnk-3tk">
            <div class="frame-259-AyN">
                <p class="about-us-uRA">About Us</p>
                <div class="frame-258-drx">
                    <img class="carbon-home-NZe" src="~/assets/carbon-home.png" />
                    <div class="about-us-tnt">
                        <span class="about-us-tnt-sub-0">&gt;</span>
                        <span class="about-us-tnt-sub-1"> About Us</span>
                    </div>
                </div>
            </div>
            <div class="frame-85-rt8">
                <div class="rectangle-28-nWt">
                </div>
                <div class="frame-82-Vw6">
                    <p class="in-many-cultures-and-religions-a-stag-or-a-deer-represents-strength-sacredness-vitality-grace-power-peace-harmony-and-abundance-FQU">In many cultures and religions, a stag or a deer represents strength, sacredness, vitality, grace, power, peace, harmony and abundance.</p>
                    <p class="wordstag-is-a-company-that-aspires-to-carry-your-word-to-the-world-with-the-same-strength-grace-accuracy-and-power-Kv8">Wordstag is a company that aspires to carry your word to the world, with the same strength, grace, accuracy and power</p>
                    <p class="for-the-wixaritarie-people-of-central-mexico-huicholes-the-deer-is-an-animal-that-translates-the-language-of-the-gods-for-men-wordstag-wants-to-be-that-messenger-which-will-convey-your-message-with-the-same-articulation-as-intended-when-the-idea-was-conceived-cPS">For the Wixaritarie people of Central Mexico (huicholes) , the deer is an animal that translates the language of the Gods for Men. Wordstag wants to be that messenger which will convey your message with the same articulation as intended, when the idea was conceived.</p>
                    <p class="we-are-just-a-hello-bellow-away-for-all-your-communication-needs-rwz">
                        <span class="we-are-just-a-hello-bellow-away-for-all-your-communication-needs-rwz-sub-0">We are just a hello </span>
                        <span class="we-are-just-a-hello-bellow-away-for-all-your-communication-needs-rwz-sub-1">bellow</span>
                        <span class="we-are-just-a-hello-bellow-away-for-all-your-communication-needs-rwz-sub-2"> away for all your communication needs.</span>
                    </p>
                </div>
            </div>
            <div class="group-1000004412-kZW">
                <div class="group-82-Vmz">
                    <p class="what-we-do-2X2">What We Do </p>
                    <p class="it-is-a-company-that-is-young-at-heart-and-matured-with-experience-of-over-a-decade-in-the-field-of-linguistics-wordstag-will-cater-to-any-linguistic-requirements--kT2">It is a company that is young at heart and matured with experience of over a decade in the field of linguistics. Wordstag will cater to any linguistic requirements:</p>
                </div>
                <div class="group-1000004411-pBz">
                    <div class="frame-1000004411-Mxc">
                        <div class="frame-1000004409-fiQ">
                            <div class="frame-260-cNk">
                                <p class="translation-xhW">Translation</p>
                                <img class="material-symbols-keyboard-double-arrow-right-t5N" src="~/assets/material-symbols-keyboard-double-arrow-right.png" />
                            </div>
                        </div>
                        <div class="frame-1000004410-ZxC">Localization</div>
                        <div class="frame-1000004411-q92">Transcription</div>
                    </div>
                    <div class="frame-1000004411-7MS">
                        <div class="frame-1000004415-TAQ">Transliteration</div>
                        <div class="frame-1000004414-w5a">Interpretation</div>
                        <div class="frame-1000004413-RFe">Voice-Overs</div>
                        <div class="frame-1000004412-WH6">Subtitling</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-85-kx8">
            <div class="frame-85-GvU">
                <div class="frame-265-ovQ">
                    <div class="medal-1-kqe">
                    </div>
                    <div class="frame-261-45e">
                        <p class="item-1-Ptc">#1</p>
                        <p class="in-india-Vwe">in India</p>
                    </div>
                </div>
                <div class="frame-266-RKW">
                    <img class="rating-1-jqz" src="~/assets/rating-1.png" />
                    <div class="frame-262-gFS">
                        <p class="item-10-EXr">+10</p>
                        <p class="years-experience-Zq2">Year’s Experience</p>
                    </div>
                </div>
                <div class="frame-267-tsJ">
                    <img class="handshake-1-Stp" src="~/assets/handshake-1.png" />
                    <div class="frame-263-ak8">
                        <p class="item-40000-k8p">40,000+</p>
                        <p class="customers-5gt">Customers</p>
                    </div>
                </div>
                <div class="frame-268-dCc">
                    <img class="linguistic-1-ynG" src="~/assets/linguistic-1.png" />
                    <div class="frame-264-ijr">
                        <p class="item-10000-tPS">10,000</p>
                        <p class="language-linguists-qJg">Language Linguists</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-1000004410-ALx">
            <p class="where-to-find-us-HgU">Where to find us</p>
            <div class="frame-1000004409-zat">
           
@*                    <img class="mdi-location-rsz" src="~/assets/mdi-location.png" />*@
                 <div id="map" class="group-1000004407-Lue">
                        <script>
                            function initMap() {
                           
                            var myCenter = new google.maps.LatLng(23.11391, 72.54128);
                            var mapProp = { center: myCenter, zoom: 12, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };  
            var map = new google.maps.Map(document.getElementById("map"), mapProp);  
            var marker = new google.maps.Marker({ position: myCenter });  
            marker.setMap(map);  
                            }
                        </script>


                    <div class="auto-group-lsat-nFr">
                        <div class="group-1000004403-8ac">
                            <p class="wordstag-office-T76">Wordstag Office</p>
                            <p class="ganesh-glory-godrej-garden-city-road-jagatpur-ahmedabad-382470-HM2">1005, Ganesh Glory, Godrej Garden City Road, Jagatpur, Ahmedabad 382470.</p>
                            <div class="auto-group-ihzs-ab2">
                                <p class="view-larger-map-7ax">View larger map</p>
                                <div class="frame-269-dpC">Direction</div>
                            </div>
                        </div>
                        <div class="group-1000004402-iqe">
                            <img class="ic-baseline-plus-Eoz" src="~/assets/ic-baseline-plus-432.png" />
                            <div class="line-2-yFn">
                            </div>
                            <img class="ic-twotone-minus-7ct" src="~/assets/ic-twotone-minus-3ha.png" />
                        </div>
                    </div>
                </div>
                <div class="group-1000004408-p1W">
                    <div class="frame-1000004404-9Jg">
                        <div class="frame-271-TqA">
                            <img class="ic-baseline-location-on-aPz" src="~/assets/ic-baseline-location-on-itY.png" />
                            <p class="office-5rY">Office</p>
                        </div>
                        <div class="frame-270-pp8">
                            <p class="ahmedabad-india-PMS">Ahmedabad, India</p>
                            <p class="ganesh-glory-godrej-garden-city-road-jagatpur-ahmedabad-382470-iuW">1005, Ganesh Glory, Godrej Garden City Road, Jagatpur, Ahmedabad 382470.</p>
                        </div>
                    </div>
                    <div class="line-12-czt">
                    </div>
                    <div class="auto-group-chhd-AFi">
                        <div class="frame-1000004408-Hr8">
                            <div class="frame-272-232">
                                <img class="fluent-call-24-filled-MLC" src="~/assets/fluent-call-24-filled-dgC.png" />
                                <p class="contact-gtG">Contact</p>
                            </div>
                            <p class="item-91-7069731619-2x8">+91 7069731619</p>
                        </div>
                        <div class="line-13-Zx4">
                        </div>
                        <div class="frame-1000004408-KAY">
                            <div class="frame-273-eTi">
                                <img class="raphael-mail-BTe" src="~/assets/raphael-mail-9zp.png" />
                                <p class="mail-WF2">MAIL</p>
                            </div>
                            <p class="bellowwordstagcom-3Ex">bellow@wordstag.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-40-xMv">
            <div class="frame-82-GdW">
                <p class="talk-to-our-language-expert-today-pf2">Talk to our language expert today</p>
                <div class="frame-257-vxx">Let’s start a project together</div>
            </div>
        </div>
    </div>
    </body>
    </html>