<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Services</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A300%2C400%2C500%2C600" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C500%2C600" />
    <link rel="stylesheet" href="~/styles/services.css" />
</head>
<body>
    <div class="services-952">
        <p class="translation-services-Jvt">Translation Services</p>
        <div class="auto-group-dsef-FbE">
            <div class="group-1000004434-yn8">
                <div class="auto-group-gvmd-W1N">
                    <div class="rectangle-28-e7a">
                        <div class="rectangle-28-e7a-bg">
                        </div>
                    </div>
                    <div class="group-1000004433-7mr">Translate now</div>
                </div>
                <div class="group-1000004432-1sE">
                    <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-xGg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p class="ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-Ejz">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p class="duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-8Ka">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                    <p class="excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-Dbv">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p class="sed-ut-perspiciatis-unde-omnis-iste-natus-error-sit-voluptatem-accusantium-doloremque-laudantium-totam-rem-aperiam-eaque-ipsa-quae-ab-illo-inventore-veritatis-iHn">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                    <p class="nemo-enim-ipsam-voluptatem-quia-voluptas-sit-aspernatur-aut-odit-mG4">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit </p>
                </div>
            </div>
            <div class="frame-1000004450-fcL">
                <div class="frame-1000004450-d3N">
                    <p class="translation-technology-LiU">Translation Technology</p>
                    <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliquaut-enim-ad-minim-veniam-quis-nostrud-exercitation-sTW">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation.</p>
                </div>
                <div class="group-1000004449-8uE">
                    <div class="auto-group-nupf-gQx">
                        <div class="group-1000004441-RdS">
                            <div class="group-1000004440-k9v">
                                <div class="frame-1000004441-JhE">
                                    <img class="translate-1-G8G" src="~/assets/translate-1-UUx.png" />
                                    <div class="frame-1000004440-ncQ">
                                        <p class="translation-localization-services-9C4">Translation &amp; Localization Services</p>
                                        <p class="using-only-the-native-translators-wordstag-is-a-top-translation-and-localization-company-serving-over-20-indian-vernacular-and-40-foreign-languages-with-capacity-to-work-on-websites-mobile-apps-software-web-applications-etc-in-all-the-languages-in-format-support-required-by-the-website-app-developer-wordstag-is-one-of-the-top-website-translation-and-website-localization-companies-sdr">Using only the native translators, Wordstag is a top translation and localization company, serving over 20 Indian vernacular and 40 foreign languages. With capacity to work on Websites, Mobile Apps, Software, Web Applications etc. in all the languages in format support required by the website / app developer, Wordstag is one of the top website translation and website localization companies.</p>
                                    </div>
                                </div>
                                <div class="frame-1000004442-4CY">
                                    <p class="order-now-bTN">Order now</p>
                                    <img class="line-33-7wW" src="REPLACE_IMAGE:63:863" />
                                </div>
                            </div>
                        </div>
                        <div class="group-1000004442-4Lx">
                            <div class="group-1000004440-brg">
                                <div class="frame-1000004441-APz">
                                    <img class="translate-1-KGt" src="~/assets/translate-1-tik.png" />
                                    <div class="frame-1000004440-FgL">
                                        <p class="interpretation-cWt">Interpretation</p>
                                        <p class="with-india-and-specifically-ahmedabad-gandhinagar-in-gujarat-becoming-hot-destinations-of-investment-for-many-foreign-countries-our-role-becomes-ever-more-important-in-providing-highly-skilled-competent-and-technical-bilingual-interpreters-for-simultaneous-telephonic-or-continuous-interpretation-jobs-on-site-off-site-or-remote-interpretation-be-it-indian-vernacular-or-any-foreign-language-9Wp">With India and specifically Ahmedabad – Gandhinagar in Gujarat becoming hot destinations of investment for many foreign countries, Our role becomes ever more important in providing highly skilled, competent and technical bilingual interpreters for simultaneous, telephonic or continuous interpretation jobs – on site / off site or remote interpretation - be it Indian vernacular or any foreign language.</p>
                                    </div>
                                </div>
                                <div class="frame-1000004442-ueQ">
                                    <p class="order-now-TA8">Order now</p>
                                    <img class="line-33-A4Y" src="REPLACE_IMAGE:63:940" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="auto-group-jlov-5xC">
                        <div class="group-1000004443-EKJ">
                            <div class="group-1000004440-xWC">
                                <div class="frame-1000004441-ugL">
                                    <img class="translate-1-rrU" src="~/assets/translate-1-XLk.png" />
                                    <div class="frame-1000004440-1Da">
                                        <p class="transcription-NK2">Transcription</p>
                                        <p class="offering-high-quality-audio-transcription-and-video-transcription-services-for-recordings-interviews-group-discussions-webinars-seminars-wordstag-can-further-translate-these-into-some-other-language-to-support-the-user-of-the-material-this-makes-wordstag-one-of-the-best-transcription-services-vendor-company-in-the-market-i7z">Offering high quality audio transcription and video transcription services for recordings, interviews, group discussions, webinars, seminars, Wordstag can further translate these into some other language to support the user of the material. This makes Wordstag one of the best transcription services vendor company in the market.</p>
                                    </div>
                                </div>
                                <div class="frame-1000004442-iXJ">
                                    <p class="order-now-TUt">Order now</p>
                                    <img class="line-33-bLC" src="REPLACE_IMAGE:63:874" />
                                </div>
                            </div>
                        </div>
                        <div class="group-1000004444-LHn">
                            <div class="group-1000004440-4ja">
                                <div class="frame-1000004441-2RW">
                                    <img class="translate-1-BJQ" src="~/assets/translate-1.png" />
                                    <div class="frame-1000004440-7xk">
                                        <p class="voice-over-subtitling-H6Y">Voice Over &amp; Subtitling</p>
                                        <p class="wordstag-manages-voice-overs-and-dubbing-of-advertisements-jingles-introductory-videos-explainer-videos-documentaries-research-projects-short-films-feature-films-hollywood-bollywood-films-et-al-in-state-of-the-art-professional-studios-male-female-children-voices-for-suitable-age-groups-comic-cartoon-characters-animated-characters-etc-can-be-catered-to-p6U">Wordstag manages voice overs and dubbing of Advertisements, Jingles, Introductory Videos, Explainer Videos, Documentaries, Research Projects, Short Films, Feature Films, Hollywood / Bollywood films et al in state of the art professional studios. Male / Female / Children voices for suitable age groups, comic / cartoon characters, animated characters etc can be catered to.</p>
                                    </div>
                                </div>
                                <div class="frame-1000004442-nxQ">
                                    <p class="order-now-Lj2">Order now</p>
                                    <img class="line-33-Gcg" src="REPLACE_IMAGE:63:929" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="auto-group-cb79-osW">
                        <div class="group-1000004445-xkQ">
                            <div class="group-1000004440-VkL">
                                <div class="frame-1000004441-f92">
                                    <img class="translate-1-QcQ" src="~/assets/translate-1-iwr.png" />
                                    <div class="frame-1000004440-wsE">
                                        <p class="editing-proof-reading-uJG">Editing &amp; Proof Reading</p>
                                        <p class="wordstag-will-professionally-proof-read-and-edit-your-text-for-grammar-style-indexing-cohesion-punctuations-syntax-spellings-hyphenation-capitalization-repetition-or-redundancy-sentence-structure-abbreviations-omissions-legibility-justification-and-any-other-linguistic-accuracy-39a">Wordstag will professionally proof read and edit your text for grammar, style, indexing, cohesion, punctuations, syntax, spellings, hyphenation, capitalization, repetition or redundancy, sentence structure, abbreviations, omissions, legibility, justification and any other linguistic accuracy.</p>
                                    </div>
                                </div>
                                <div class="frame-1000004442-ev4">
                                    <p class="order-now-oY4">Order now</p>
                                    <img class="line-33-968" src="REPLACE_IMAGE:63:885" />
                                </div>
                            </div>
                        </div>
                        <div class="group-1000004446-61N">
                            <div class="group-1000004440-ckQ">
                                <div class="frame-1000004441-yax">
                                    <img class="translate-1-jKE" src="~/assets/translate-1-Tk4.png" />
                                    <div class="frame-1000004440-gEU">
                                        <p class="branding-ui-ux-3Kv">Branding &amp; UI-UX</p>
                                        <p class="wordstag-has-an-inhouse-pool-of-experts-in-branding-and-ui-ux-projects-we-offer-360-degree-solution-for-your-project-so-you-can-focus-on-your-core-competence-without-any-headaches-having-a-team-of-experts-who-are-aware-of-the-local-markets-have-helped-small-medium-and-largescale-enterprises-to-penetrate-their-products-services-effectively-mWp">Wordstag has an inhouse pool of experts in branding and ui/ux projects. We offer 360 degree solution for your project so you can focus on your core competence without any headaches. Having a team of experts who are aware of the local markets have helped small medium and largescale enterprises to penetrate their products/services effectively.</p>
                                    </div>
                                </div>
                                <div class="frame-1000004442-y76">
                                    <p class="order-now-KAx">Order now</p>
                                    <img class="line-33-3ck" src="REPLACE_IMAGE:63:896" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="auto-group-p37z-BU4">
                        <div class="group-1000004447-jkU">
                            <div class="group-1000004440-sLt">
                                <div class="frame-1000004441-RtC">
                                    <img class="translate-1-NoS" src="~/assets/translate-1-95r.png" />
                                    <div class="frame-1000004440-Wek">
                                        <p class="creative-content-ULg">Creative Content</p>
                                        <p class="contact-us-to-write-novel-content-in-crisp-funny-articulate-plagiarism-free-original-grammatically-correct-language-and-enhance-your-market-image-with-the-most-robust-marketing-material-our-creative-content-with-various-language-support-makes-us-an-irresistible-force-to-create-unique-marketing-material-making-us-one-of-the-leading-content-agency-in-india-15i">Contact us to write novel content in crisp, funny, articulate, plagiarism free, original, grammatically correct language and enhance your market image with the most robust marketing material. Our creative content with various language support makes us an irresistible force to create unique marketing material, making us one of the leading content agency in India.</p>
                                    </div>
                                </div>
                                <div class="frame-1000004442-Cfz">
                                    <p class="order-now-8Ze">Order now</p>
                                    <img class="line-33-TM2" src="REPLACE_IMAGE:63:907" />
                                </div>
                            </div>
                        </div>
                        <div class="group-1000004448-CJc">
                            <div class="group-1000004440-Ku2">
                                <div class="frame-1000004441-tBS">
                                    <img class="translate-1-Em6" src="~/assets/translate-1-Uwr.png" />
                                    <div class="frame-1000004440-nGp">
                                        <p class="temp-permanent-staffing-jC4">Temp &amp; Permanent Staffing</p>
                                        <p class="wordstag-fulfils-a-highly-specialized-and-niche-human-resource-requirement-of-providing-linguists-for-temporary-or-permanent-positions-in-your-company-want-a-german-tele-caller-for-15-days-project-or-an-italian-intern-for-3-months-or-an-assamese-linguist-for-2-years-contact-us-TNx">Wordstag fulfils a highly specialized and niche Human Resource requirement of providing linguists for temporary or permanent positions in your company. Want a German tele-caller for 15 days’ project or an Italian intern for 3 months or an Assamese linguist for 2 years ? Contact us.</p>
                                    </div>
                                </div>
                                <div class="frame-1000004442-U3A">
                                    <p class="oder-now-QhW">Order now</p>
                                    <img class="line-33-8tQ" src="REPLACE_IMAGE:63:918" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-1000004456-s5J">
            <div class="group-1000004439-b1J">
                <div class="frame-1000004426-wqr">
                    <p class="what-we-can-offer-5SG">What we can offer</p>
                    <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliquaut-enim-ad-minim-veniam-quis-nostrud-exercitation-cSC">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation.</p>
                </div>
                <div class="frame-1000004439-UjJ">
                    <div class="group-1000004435-cqW">
                        <img class="languages-1-9aY" src="~/assets/languages-1-rnC.png" />
                        <p class="linguistics-tHE">Linguistics</p>
                        <div class="frame-1000004435-pRn">
                            <div class="frame-1000004427-BGL">
                                <div class="ellipse-24-wFW">
                                </div>
                                <p class="translation-localization-56p">Translation &amp; Localization</p>
                            </div>
                            <div class="auto-group-ypmq-CSL">
                                <div class="frame-1000004428-9cU">
                                    <div class="ellipse-24-VAY">
                                    </div>
                                    <p class="interpretation-2AU">Interpretation</p>
                                </div>
                                <div class="frame-1000004429-A1n">
                                    <div class="ellipse-24-Vpk">
                                    </div>
                                    <p class="transcription-q7v">Transcription</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="group-1000004436-8Mv">
                        <img class="languages-1-3Ut" src="~/assets/languages-1-b12.png" />
                        <p class="creative-branding-nhN">Creative Branding</p>
                        <div class="frame-1000004435-voa">
                            <div class="auto-group-1tjk-6CG">
                                <div class="frame-1000004427-E3a">
                                    <div class="ellipse-24-yG4">
                                    </div>
                                    <p class="branding-hxk">Branding</p>
                                </div>
                                <div class="frame-1000004428-SvL">
                                    <div class="ellipse-24-zgx">
                                    </div>
                                    <p class="ui-ux-944">UI/UX</p>
                                </div>
                                <div class="frame-1000004429-Hg4">
                                    <div class="ellipse-24-djv">
                                    </div>
                                    <p class="company-profile-a9N">Company profile</p>
                                </div>
                            </div>
                            <div class="frame-1000004430-uhS">
                                <div class="ellipse-24-fAp">
                                </div>
                                <p class="creative-content-creation-zyn">Creative content creation</p>
                            </div>
                        </div>
                    </div>
                    <div class="group-1000004437-WhE">
                        <img class="languages-1-3SG" src="~/assets/languages-1.png" />
                        <p class="audio-visual-yqi">Audio Visual</p>
                        <div class="frame-1000004435-vW4">
                            <div class="auto-group-ofhd-5Nx">
                                <div class="frame-1000004427-cdn">
                                    <div class="ellipse-24-A9W">
                                    </div>
                                    <p class="voice-overs-VxU">Voice overs</p>
                                </div>
                                <div class="frame-1000004428-Ev4">
                                    <div class="ellipse-24-C6C">
                                    </div>
                                    <p class="subtitling-wJg">Subtitling</p>
                                </div>
                                <div class="frame-1000004429-UJc">
                                    <div class="ellipse-24-Qxx">
                                    </div>
                                    <p class="intro-video-k1E">Intro video</p>
                                </div>
                            </div>
                            <div class="frame-1000004430-Sue">
                                <div class="ellipse-24-akx">
                                </div>
                                <p class="logo-openers-7Vz">Logo openers</p>
                            </div>
                        </div>
                    </div>
                    <div class="group-1000004438-DJ8">
                        <img class="languages-1-XZi" src="~/assets/languages-1-L96.png" />
                        <p class="human-resources-TyA">Human Resources</p>
                        <div class="frame-1000004435-Q7i">
                            <div class="auto-group-etfh-xf2">
                                <div class="frame-1000004427-uaG">
                                    <div class="ellipse-24-qip">
                                    </div>
                                    <p class="temporary-staffing-Nik">Temporary staffing</p>
                                </div>
                                <div class="frame-1000004428-WKA">
                                    <div class="ellipse-24-FXe">
                                    </div>
                                    <p class="permanent-staffing-bLc">Permanent staffing </p>
                                </div>
                            </div>
                            <div class="frame-1000004429-KnQ">
                                <div class="ellipse-24-gsr">
                                </div>
                                <p class="dedicated-translators-qEx">Dedicated translators</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-1000004454-vGQ">
            <div class="auto-group-6y7z-3M2">
                <div class="frame-1000004456-mXv">
                    <p class="languages-pairs-KZS">Languages Pairs</p>
                    <p class="we-want-to-preserve-the-rich-heritage-of-each-language-and-aspire-to-cater-to-each-one-of-them-someday-in-future-we-at-present-serve-the-following-indian-vernacular-and-international-languages-Fxt">We want to preserve the rich heritage of each language and aspire to cater to each one of them someday in future, we at present, serve the following Indian vernacular and international languages.</p>
                </div>
                <div class="group-57-WP2">
                    <div class="group-56-od2">Indian</div>
                    <a class="international-FE8">International</a>
                </div>
            </div>
            <div class="frame-1000004454-uJg">
                <div class="group-1000004450-Ebr">
                    <div class="auto-group-kkuf-y3e">
                        <div class="frame-1000004451-Vng">
                            <div class="ellipse-25-qbe">
                            </div>
                            <p class="english-to-hindi-n16">English to Hindi</p>
                        </div>
                        <div class="frame-1000004452-WSt">
                            <div class="ellipse-25-rWk">
                            </div>
                            <p class="english-to-gujarati-nvC">English to Gujarati</p>
                        </div>
                        <div class="frame-1000004453-w2Q">
                            <div class="ellipse-25-H6G">
                            </div>
                            <p class="english-to-kannada-cuE">English to Kannada</p>
                        </div>
                        <div class="frame-1000004454-Mbv">
                            <div class="ellipse-25-WDv">
                            </div>
                            <p class="english-to-telugu-qGC">English to Telugu</p>
                        </div>
                        <div class="frame-1000004455-aDn">
                            <div class="ellipse-25-sig">
                            </div>
                            <p class="english-to-malayalam-cRN">English to Malayalam</p>
                        </div>
                        <div class="frame-1000004456-9AQ">
                            <div class="ellipse-25-tNt">
                            </div>
                            <p class="english-to-tamil-pnL">English to Tamil</p>
                        </div>
                        <div class="frame-1000004457-ALQ">
                            <div class="ellipse-25-uYt">
                            </div>
                            <p class="english-to-marathi-SYp">English to Marathi</p>
                        </div>
                    </div>
                    <div class="frame-1000004458-BFW">
                        <div class="ellipse-25-vit">
                        </div>
                        <p class="english-to-bengali-bangla-G24">English to Bengali (Bangla)</p>
                    </div>
                    <div class="auto-group-zpcx-CAc">
                        <div class="frame-1000004459-8a4">
                            <div class="ellipse-25-GAU">
                            </div>
                            <p class="english-to-assamese-zsA">English to Assamese</p>
                        </div>
                        <div class="frame-1000004460-LAL">
                            <div class="ellipse-25-svx">
                            </div>
                            <p class="english-to-urdu-23A">English to Urdu</p>
                        </div>
                    </div>
                </div>
                <div class="group-1000004451-wfv">
                    <div class="auto-group-eph5-Gy6">
                        <div class="frame-1000004461-D7e">
                            <div class="ellipse-25-MUk">
                            </div>
                            <p class="english-to-punjabi-tzU">English to Punjabi</p>
                        </div>
                        <div class="frame-1000004462-2qn">
                            <div class="ellipse-25-acQ">
                            </div>
                            <p class="english-to-sanskrit-XXe">English to Sanskrit</p>
                        </div>
                        <div class="frame-1000004463-4Xa">
                            <div class="ellipse-25-c3J">
                            </div>
                            <p class="english-to-dogri-9J8">English to Dogri</p>
                        </div>
                    </div>
                    <div class="frame-1000004464-5xU">
                        <div class="ellipse-25-3PW">
                        </div>
                        <p class="english-to-manipuri-meitei-aPS">English to Manipuri (Meitei)</p>
                    </div>
                    <div class="auto-group-ackk-JqE">
                        <div class="frame-1000004465-SRe">
                            <div class="ellipse-25-Be8">
                            </div>
                            <p class="english-to-sindhi-XCC">English to Sindhi</p>
                        </div>
                        <div class="frame-1000004466-TrY">
                            <div class="ellipse-25-R2g">
                            </div>
                            <p class="english-to-bodo-Z8t">English to Bodo</p>
                        </div>
                        <div class="frame-1000004467-hVz">
                            <div class="ellipse-25-STa">
                            </div>
                            <p class="english-to-oriya-odia-yyJ">English to Oriya (Odia)</p>
                        </div>
                        <div class="frame-1000004468-urx">
                            <div class="ellipse-25-Tda">
                            </div>
                            <p class="english-to-nepali-QHv">English to Nepali</p>
                        </div>
                        <div class="frame-1000004469-kMn">
                            <div class="ellipse-25-VaG">
                            </div>
                            <p class="english-to-konkani-SEc">English to Konkani</p>
                        </div>
                        <div class="frame-1000004470-yEY">
                            <div class="ellipse-25-KJQ">
                            </div>
                            <p class="english-to-kashmiri-rp8">English to Kashmiri</p>
                        </div>
                    </div>
                </div>
                <div class="group-1000004452-Pp4">
                    <div class="auto-group-uy4f-jd2">
                        <div class="frame-1000004471-U4p">
                            <div class="ellipse-25-1aY">
                            </div>
                            <p class="hindi-to-english-Lcp">Hindi to English</p>
                        </div>
                        <div class="frame-1000004472-sse">
                            <div class="ellipse-25-ECQ">
                            </div>
                            <p class="gujarati-to-english-N3i">Gujarati to English</p>
                        </div>
                        <div class="frame-1000004473-hrg">
                            <div class="ellipse-25-FNQ">
                            </div>
                            <p class="kannada-to-english-PjW">Kannada to English</p>
                        </div>
                        <div class="frame-1000004474-Y6c">
                            <div class="ellipse-25-tRN">
                            </div>
                            <p class="telugu-to-english-Rw6">Telugu to English</p>
                        </div>
                        <div class="frame-1000004475-Adn">
                            <div class="ellipse-25-KFn">
                            </div>
                            <p class="malayalam-to-english-f4k">Malayalam to English</p>
                        </div>
                        <div class="frame-1000004476-n9N">
                            <div class="ellipse-25-Kuz">
                            </div>
                            <p class="tamil-to-english-sRi">Tamil to English</p>
                        </div>
                        <div class="frame-1000004477-ceC">
                            <div class="ellipse-25-ZZS">
                            </div>
                            <p class="marathi-to-english-hvY">Marathi to English</p>
                        </div>
                    </div>
                    <div class="frame-1000004478-eKz">
                        <div class="ellipse-25-oTn">
                        </div>
                        <p class="bengali-bangla-to-english-9Gk">Bengali (Bangla) to English</p>
                    </div>
                    <div class="auto-group-hsm9-gXa">
                        <div class="frame-1000004479-DnQ">
                            <div class="ellipse-25-9g4">
                            </div>
                            <p class="assamese-to-english-5Zi">Assamese to English</p>
                        </div>
                        <div class="frame-1000004480-R7n">
                            <div class="ellipse-25-kvk">
                            </div>
                            <p class="urdu-to-english-JSU">Urdu to English</p>
                        </div>
                    </div>
                </div>
                <div class="group-1000004453-S2t">
                    <div class="auto-group-madh-yYc">
                        <div class="frame-1000004481-X4L">
                            <div class="ellipse-25-4a4">
                            </div>
                            <p class="punjabi-to-english-CgG">Punjabi to English</p>
                        </div>
                        <div class="frame-1000004482-wNx">
                            <div class="ellipse-25-tJC">
                            </div>
                            <p class="sanskrit-to-english-2fJ">Sanskrit to English</p>
                        </div>
                        <div class="frame-1000004483-yKe">
                            <div class="ellipse-25-7we">
                            </div>
                            <p class="dogri-to-english-fCU">Dogri to English</p>
                        </div>
                    </div>
                    <div class="frame-1000004484-o3n">
                        <div class="ellipse-25-9NY">
                        </div>
                        <p class="manipuri-meitei-to-english-VBW">Manipuri (Meitei) to English</p>
                    </div>
                    <div class="auto-group-spb9-pzU">
                        <div class="frame-1000004485-ZSG">
                            <div class="ellipse-25-WMW">
                            </div>
                            <p class="sindhi-to-english-FK6">Sindhi to English</p>
                        </div>
                        <div class="frame-1000004486-npp">
                            <div class="ellipse-25-jzx">
                            </div>
                            <p class="bodo-to-english-gvC">Bodo to English</p>
                        </div>
                        <div class="frame-1000004487-Egp">
                            <div class="ellipse-25-zAC">
                            </div>
                            <p class="oriya-odia-to-english-XR2">Oriya (Odia) to English</p>
                        </div>
                        <div class="frame-1000004488-EaL">
                            <div class="ellipse-25-Mur">
                            </div>
                            <p class="nepali-to-english-hD2">Nepali to English</p>
                        </div>
                        <div class="frame-1000004489-SAc">
                            <div class="ellipse-25-BP6">
                            </div>
                            <p class="konkani-to-english-83S">Konkani to English</p>
                        </div>
                        <div class="frame-1000004490-3w6">
                            <div class="ellipse-25-C3J">
                            </div>
                            <p class="kashmiri-to-english-Y7A">Kashmiri to English</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
