@*@model WordstageWeb.Models.Product*@
@*@model List<WordstageWeb.Models.Product>*@
@*@model Tuple<WordstageWeb.Models.Language.Language, WordstageWeb.Models.Login.Login>*@
 
@model WordstageWeb.Controllers.HomeController


<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var myModelList, Pselect, fromselect, toselect, translationtype;

            Pselect = $('#ProductDropdown').val();
            fromselect = $('#FromLanguages').val();
            toselect = $('#ToLanguages').val();


            fromselect = "69A9FFD4-5F46-432F-BA80-0AEE04B59E52";
            toselect = "F7C668E4-FFA4-4FA2-936A-D20E03BA009E";
            //default set to and from laguaage

            LoadProductData(Pselect, fromselect, toselect);

            $('#ProductDropdown').change(function () {
                Pselect = $(this).val();
                LoadProductData(Pselect, fromselect, toselect);
            });
            $('#FromLanguages').change(function () {
                fromselect = $(this).val();
                LoadProductData(Pselect, fromselect, toselect);
            });
            $('#ToLanguages').change(function () {
                toselect = $(this).val();
                LoadProductData(Pselect, fromselect, toselect);
            });
        });
        function LoadProductData(Product, from, to) {
            $.ajax({
                url: '/Home/LoadProductData',
                data: { 'Product': Product, 'from': from, 'to': to },
                type: 'Post',
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    TablelooandupdatePlan(result);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Error: ' + thrownError);
                }
            });
        }
        function TablelooandupdatePlan(myModelList) {
            console.log(myModelList);
            myModelList.forEach(function (item) {
                if (item.planTypes[0].planType == "STANDARD") {
                    document.getElementById("Labelstandard").innerHTML = item.planTypes[0].planType;
                    document.getElementById("standardprice").innerHTML = item.price.toFixed(2);
                    //link = document.getElementById('standardLink
                    createLinkWithPlanType(item.planTypes[0].planType, 'standardLink', item.productId);
                    //sessionStorage.setItem('ProductId', item.ProductId);
                }
                else if (item.planTypes[0].planType == "ADVANCED") {
                    document.getElementById("Labeladvanced").innerHTML = item.planTypes[0].planType;
                    document.getElementById("advancedprice").innerHTML = item.price.toFixed(2);
                    createLinkWithPlanType(item.planTypes[0].planType, 'advancedLink', item.productId);
                    //sessionStorage.setItem('ProductId', item.ProductId);
                }
                else if (item.planTypes[0].planType == "PREMIUM") {
                    document.getElementById("Labelpremium").innerHTML = item.planTypes[0].planType;
                    document.getElementById("premiumprice").innerHTML = item.price.toFixed(2);
                    // link = document.getElementById('premiumLink');
                    createLinkWithPlanType(item.planTypes[0].planType, 'premiumLink', item.productId);
                    //sessionStorage.setItem('ProductId', item.ProductId);
                }
                var group51 = document.getElementById("group51");
                var group52 = document.getElementById("group52");
                var group53 = document.getElementById("group53");
                var group54 = document.getElementById("group54");

                if (item.productName == "Certificate") {
                    group51.style.display = "none";
                    group52.style.display = "none";
                    group53.style.display = "block";
                    group54.style.display = "block";
                }
                else {
                    group51.style.display = "block";
                    group52.style.display = "block";
                    group53.style.display = "none";
                    group54.style.display = "none";
                }
            });
        };
        function createLinkWithPlanType(planType, linkId, ProductId) {
            console.log(planType, linkId, ProductId);
            const link = document.getElementById(linkId);

            if (planType === 'STANDARD') {
                link.href = '/Order/Order';
            } else if (planType === 'ADVANCED') {
                link.href = '/Order/Order';
            } else if (planType === 'PREMIUM') {
                link.href = '/Order/Order';
            }

            // Add a click event listener to the link with parameters
            link.addEventListener('click', function () {
                sessionStorage.setItem('ProductId', ProductId);
                myFunction(planType, ProductId);
            });
        };

        // Define the function to be called with a parameter
        function myFunction(planType, ProductId) {
            // Do something with the parameter
            //window.location.href = url;
        };
    </script>
</head>
<body>
    <div class="home-page-bkL">
        @using (Html.BeginForm())
        {
            <div class="auto-group-zycb-x2U">
                <div class="rectangle-1-HqS">
                    <div class="rectangle-1-HqS-bg">
                    </div>
                </div>
                <div class="group-4-LHv">
                    <div class="group-11-3y2">
                        <div class="frame-4-QHn">
                            <img class="fluent-person-available-16-filled-6wJ" src="~/assets/fluent-person-available-16-filled.png" />
                            <p class="service-available-24-7-QSC">Service Available 24/7 </p>
                     

                        </div>
                        <div class="line-4-2bz">
                        </div>
                        <div class="frame-5-7dS">
                            <img class="dashicons-awards-2Ec" src="~/assets/dashicons-awards.png" />
                            <p class="year-guarantee-Xx4">1-Year Guarantee</p>
                        </div>
                        <div class="line-3-rUY">
                        </div>
                        <div class="frame-6-wVz">
                            <img class="mdi-people-group-rcx" src="~/assets/mdi-people-group.png" />
                            <p class="business-customers-aJ4">80,000 Business Customers</p>
                        </div>
                    </div>
                </div>
                <div class="group-13-4j2">
                    <div class="group-12-Q2C">
                        <p class="different-languages-connecting-the-world-MTE">Different languages connecting the world.</p>
                        <p class="we-aspires-to-carry-your-word-to-the-world-with-the-same-strength-grace-accuracy-and-power-GKJ">We aspires to carry your word to the world, with the same strength, grace, accuracy and power.</p>
                    </div>
                    <div class="frame-3-xT2">Translate now</div>
                </div>
            </div>
            <div class="auto-group-hfz3-Sd6">
                <div class="our-services-MVA">
                    <div class="frame-240-VLU">
                        <p class="our-services-2rC">OUR SERVICES</p>
                        <div class="rectangle-17-Zr8">
                        </div>
                    </div>
                    <div class="group-14-KKW">
                        <div class="group-7-4Xz">
                            <img class="group-8-mhJ" src="~/assets/group-8-s9i.png" />
                            <p class="translation-localization-6zU">Translation &amp; Localization </p>
                            <p class="using-only-the-native-translators-dUc">Using only the native translators</p>
                            <div class="frame-7-MfW">
                                <p class="explore-more-hDa">Explore More</p>
                                <img class="arrow-12-EDW" src="~/assets/arrow-12-18C.png" />
                            </div>
                        </div>
                        <div class="group-8-iuN">
                            <img class="group-8-3gk" src="~/assets/group-8-eQQ.png" />
                            <p class="voice-over-subtitling-neL">Voice Over &amp; Subtitling</p>
                            <p class="in-house-voice-talent-and-post-production-iXz">In-house voice talent and post production</p>
                            <div class="frame-7-qcc">
                                <p class="explore-more-N6k">Explore More</p>
                                <img class="arrow-12-JWC" src="~/assets/arrow-12-SB2.png" />
                            </div>
                        </div>
                        <div class="group-9-1fW">
                            <img class="group-8-Xdr" src="~/assets/group-8.png" />
                            <p class="transcription-U3J">Transcription</p>
                            <p class="offering-high-quality-audio-transcription-and-video-transcription-services-btc">Offering high quality audio transcription and video transcription services</p>
                            <div class="frame-7-uPW">
                                <p class="explore-more-rJk">Explore More</p>
                                <img class="arrow-12-Brp" src="~/assets/arrow-12-CWc.png" />
                            </div>
                        </div>
                        <div class="group-10-hqA">
                            <img class="auto-group-6kkq-2sS" src="~/assets/auto-group-6kkq.png" />
                            <p class="interpretation-yGt">Interpretation</p>
                            <p class="indian-vernacular-or-any-foreign-language-7P6">Indian vernacular or any foreign language</p>
                            <div class="frame-7-dcL">
                                <p class="explore-more-anU">Explore More</p>
                                <img class="arrow-12-7nQ" src="~/assets/arrow-12-GjA.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group-39-cz4">
                    <div class="auto-group-aytv-n7r">
                        <p class="our-expert-translation-services-ensure-that-you-are-well-understood-and-deeply-communicate-with-your-target-market-XLL">Our expert translation services ensure that you are well understood and deeply communicate with your target market.</p>
                        <p class="what-makes-our-translation-company-different-CBa">What makes our translation company different?</p>
                    </div>
                    <div class="group-38-hu2">
                        <div class="frame-242-T7W">
                            <div class="frame-241-ahv">
                                <p class="item-98-Wba">98%</p>
                                <p class="customer-satisfaction-qdr">Customer satisfaction</p>
                            </div>
                            <p class="our-customer-agree-that-wordstag-is-the-best-for-his-services-Zpk">Our customer agree that, Wordstag is the best for his services</p>
                        </div>
                        <div class="frame-243-gPa">
                            <div class="frame-241-R6G">
                                <p class="item-10-MEp">10</p>
                                <p class="years-of-professional-translation-experience-UaL">
                                    Years of Professional
                                    <br />
                                    Translation Experience
                                </p>
                            </div>
                            <p class="weve-had-more-than-a-decade-of-experience-optimizing-our-services-PSQ">We&#39;ve had more than a decade of experience optimizing our services.</p>
                        </div>
                        <div class="frame-243-u9r">
                            <div class="frame-241-q3W">
                                <p class="item-1500-a16">1,500</p>
                                <p class="native-translators-Jhn">Native translators</p>
                            </div>
                            <p class="a-global-pool-of-native-translators-at-your-service-anytime-anywhere-F7E">A global pool of native translators at your service, anytime, anywhere.</p>
                        </div>
                        <div class="frame-244-AEC">
                            <div class="frame-241-tvt">
                                <p class="item-100-dtU">100</p>
                                <p class="languages-and-pairs-ANc">Languages and pairs</p>
                            </div>
                            <p class="we-have-the-language-pair-you-need-to-bring-meaning-to-your-words-tJc">We have the language pair you need to bring meaning to your words.</p>
                        </div>
                        <div class="line-6-BYc">
                        </div>
                        <div class="line-7-iYY">
                        </div>
                    </div>
                </div>
                <div class="group-59-DEQ">
                    <p class="trusted-by-leading-organization-around-the-world-yUU">TRUSTED BY LEADING ORGANIZATION AROUND THE WORLD</p>
                    <div class="group-58-Fgt">
                        <div class="frame-58-D7v">
                            <div class="company-logo-vY8">
                                <img class="auto-group-uzck-qf6" src="~/assets/auto-group-uzck.png" />
                                <img class="auto-group-ovks-a6t" src="~/assets/auto-group-ovks.png" />
                                <img class="vector-hhJ" src="~/assets/vector-uDi.png" />
                            </div>
                            <img class="company-logo-dqr" src="~/assets/company-logo-qhA.png" />
                            <img class="company-logo-wLk" src="~/assets/company-logo.png" />
                            <img class="company-logo-3eg" src="~/assets/company-logo-ur8.png" />
                        </div>
                        <div class="frame-58-BVz">
                            <img class="company-logo-6N4" src="~/assets/company-logo-kbi.png" />
                            <div class="company-logo-crC">
                                <img class="vector-ZmS" src="~/assets/vector-6Vv.png" />
                                <img class="vector-JU8" src="~/assets/vector-vx8.png" />
                            </div>
                            <img class="company-logo-SaL" src="~/assets/company-logo-xhe.png" />
                            <div class="company-logo-Zur">
                                <img class="vector-uD2" src="~/assets/vector-zkY.png" />
                                <img class="vector-FXn" src="~/assets/vector.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group-40-mFE">
                <div class="group-47-UvL">
                    <p class="you-provide-we-translate-2wr">
                        You Provide.
                        <br />
                        We Translate.
                    </p>
                    <p class="in-many-cultures-and-religions-a-stag-or-a-deer-represents-strength-sacredness-vitality-grace-power-peace-harmony-and-abundance-wov">
                        In many cultures and religions, a stag or a deer represents strength, sacredness, vitality, grace, power, peace, harmony and abundance.
                        <br />

                    </p>
                    <p class="about-us-1Hz">About Us</p>
                </div>
            </div>
            <div class="group-56-rhv">
                <div class="auto-group-nyrs-nLg">
                    <p class="choose-a-plan-hTe">Choose a Plan </p>
                    <div class="frame-249-ide">
                        <p class="translation-3R2">TRANSLATION</p>
                        <div class="group-57-ZuA">
                            @*<p class="voice-over-translation-V28">Voice-Over Translation</p>
                        <div class="line-8-p4Q">
                        </div>*@
                            @Html.DropDownList("ProductDropdown", ViewBag.ProductDropdown as List<SelectListItem>)
                            <img class="material-symbols-arrow-drop-down-MKE" src="~/assets/material-symbols-arrow-drop-down-HfE.png" />
                        </div>
                    </div>
                    <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-eu-elit-pellentesque-commodo-lectus-sit-amet-hendrerit-orci-maecenas-congue-velit-et-tempus-volutpat-donec-mattis-quam-ut-ullamcorper-porta-sed-rutrum-auctor-nisi-efficitur-iaculis-RK6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu elit pellentesque, commodo lectus sit amet, hendrerit orci. Maecenas congue velit et tempus volutpat. Donec mattis quam ut ullamcorper porta. Sed rutrum auctor nisi efficitur iaculis.</p>
                </div>
                <div class="group-55-eSk">
                    <div class="group-54-PfE">
                        <div class="auto-group-ijvp-KHz">
                            <p class="from-TQC">FROM</p>
                            @*@Html.DropDownList("LanguageId", (IEnumerable<SelectListItem>)ViewBag.Languages, null, new { @class ="from-TQC" })*@
                            <div class="group-28-oDA">
                                <img class="twemoji-flag-us-outlying-islands-vYg" src="~/assets/twemoji-flag-us-outlying-islands.png" />
                                @Html.DropDownList("FromLanguages", (IEnumerable<SelectListItem>)ViewBag.FromLanguages, null)
                                @* <img class="material-symbols-arrow-drop-down-BzQ" src="~/assets/material-symbols-arrow-drop-down-RHA.png" />*@
                            </div>
                        </div>
                        <div class="frame-248-UyW">
                            <div class="ellipse-12-zBA">
                            </div>
                            <div class="ellipse-13-icx">
                            </div>
                            <div class="ellipse-14-f2Q">
                            </div>
                            <div class="ellipse-15-oPW">
                            </div>
                            <div class="ellipse-16-9CU">
                            </div>
                            <div class="ellipse-17-5rp">
                            </div>
                            <div class="ellipse-18-EDv">
                            </div>
                            <div class="ellipse-20-A7a">
                            </div>
                            <div class="ellipse-19-u5A">
                            </div>
                            <div class="ellipse-21-Et8">
                            </div>
                        </div>
                        <div class="auto-group-1pgw-yKv">
                            <p class="to-iYQ">TO</p>
                            <div class="group-29-fCk">
                                <img class="twemoji-flag-clipperton-island-Bgt" src="~/assets/twemoji-flag-clipperton-island.png" />
                                @Html.DropDownList("ToLanguages", (IEnumerable<SelectListItem>)ViewBag.ToLanguages, null)
                            </div>
                        </div>
                    </div>
                    <div class="group-53-jrp">
                        <div style="width:30%">
                            <div class="group-50-5Qt" id="group50">
                                <div class="group-48-cQp"><label id="Labelstandard"></label></div>
                                <a href="#" id="standardLink" style="text-decoration: none;">
                                    <div class="auto-group-qmkw-Uxp">
                                        <div class="frame-247-cJL">
                                            <div class="frame-246-N2c">
                                                <img class="vector-7kt" src="~/assets/vector-4AL.png" />
                                                <p class="item-200-Fs6"><label id="standardprice"></label></p>
                                            </div>
                                            <p class="per-word-nc8">per word</p>
                                        </div>
                                    </div>
                                </a>
                                <p class="machine-text-translation-Wo2">Machine text translation</p>
                                <div class="group-49-Rf6">
                                    <div class="frame-33-Yji">
                                        <img class="dashicons-yes-alt-4xx" src="~/assets/dashicons-yes-alt.png" />
                                        <p class="unedited-Bng">Unedited</p>
                                    </div>
                                    <div class="frame-34-Kdz">
                                        <img class="dashicons-yes-alt-rtp" src="~/assets/dashicons-yes-alt-cb2.png" />
                                        <p class="instant-service-zEL">Instant Service</p>
                                    </div>
                                    <div class="frame-236-iRE">
                                        <img class="dashicons-yes-alt-e3z" src="~/assets/dashicons-yes-alt-MsN.png" />
                                        <p class="free-trial-xaU">1-Free Trial</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="group-51-rvk" id="group51">

                            <div class="group-48-oLC"><label id="Labeladvanced"></label></div>
                            <a href="#" id="advancedLink" style="text-decoration: none;">
                                <div class="auto-group-yvb5-get">
                                    <div class="frame-247-ozQ">
                                        <div class="frame-246-Zig">
                                            <img class="vector-8Fz" src="~/assets/vector-q9J.png" />
                                            <p class="item-500-sUU"><label id="advancedprice"></label></p>
                                        </div>
                                        <p class="per-word-D2Y">per word</p>
                                    </div>
                                </div>
                            </a>
                            <p class="expert-text-translation-wjE">Expert text translation</p>
                            <div class="group-49-gB2">
                                <div class="frame-33-bon">
                                    <img class="dashicons-yes-alt-itQ" src="~/assets/dashicons-yes-alt-efA.png" />
                                    <p class="edited-by-an-expert-e1N">Edited by an expert</p>
                                </div>
                                <div class="frame-34-yJY">
                                    <img class="dashicons-yes-alt-WJU" src="~/assets/dashicons-yes-alt-Fda.png" />
                                    <p class="delivered-in-an-hours-2Xi">Delivered in an hours</p>
                                </div>
                                <div class="frame-236-MZz">
                                    <img class="dashicons-yes-alt-soE" src="~/assets/dashicons-yes-alt-jJ8.png" />
                                    <p class="plain-text-CqW">Plain text</p>
                                </div>
                            </div>
                        </div>

                        <div class="group-52-uV2" id="group52">
                            <div class="group-48-2Jk"><label id="Labelpremium"></label></div>
                            <a href="#" id="premiumLink" style="text-decoration: none;">
                                <div class="auto-group-bivf-UgY">
                                    <div class="frame-247-nhE">
                                        <div class="frame-246-jMa">
                                            <img class="vector-Hdz" src="~/assets/vector-6Wc.png" />
                                            <p class="item-800-E3S"><label id="premiumprice"></label></p>
                                        </div>
                                        <p class="per-word-kXa">per word</p>
                                    </div>
                                </div>
                            </a>
                            <p class="professional-translation-Fz8">Professional translation</p>
                            <div class="group-49-C8g">
                                <div class="auto-group-uqdv-8HE">
                                    <div class="frame-33-GeL">
                                        <img class="dashicons-yes-alt-a9E" src="~/assets/dashicons-yes-alt-XVa.png" />
                                        <p class="edited-by-an-expert-J5E">Edited by an expert</p>
                                    </div>
                                    <div class="frame-34-PcU">
                                        <img class="dashicons-yes-alt-VvQ" src="~/assets/dashicons-yes-alt-rvc.png" />
                                        <p class="delivered-in-an-hours-R3N">Delivered in an hours</p>
                                    </div>
                                </div>
                                <div class="frame-236-9EG">
                                    <img class="dashicons-yes-alt-GZn" src="~/assets/dashicons-yes-alt-aTS.png" />
                                    <p class="supported-doc-pdf-pptx-no2">Supported .doc, pdf, pptx</p>
                                </div>
                                <div class="frame-237-7qJ">
                                    <img class="dashicons-yes-alt-rH6" src="~/assets/dashicons-yes-alt-N16.png" />
                                    <p class="keeping-the-format-on-demand-NWL">Keeping the format on demand</p>
                                </div>
                            </div>
                        </div>

                        <div id="group53" style="width:35%">
                            <div style="font-size:medium">
                                <h1>Gujarati to English Birth Certificate</h1>
                                <span class="woocs_price_code" data-product-id="19704"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">₹</span>1,050.00</bdi></span></del> <ins><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">₹</span>750.00</bdi></span></ins> <small class="woocommerce-price-suffix">per page (auto-discount for multiple pages)</small></span>
                                <br /><br />
                                <p><em><strong id="order-now">3 easy steps</strong></em> to order internationally accepted Gujarati to English certified translation of Birth Certificate in <em><strong>48 hours</strong></em> with various additional options.</p><br>
                                <ol>
                                    <li><em>1.Select number of <strong>applicants </strong>and required <strong>services</strong></em></li>
                                    <li><em>2.Confirm service details &amp; timeline and “<strong>Proceed to Checkout</strong>”</em></li>
                                    <li><em>3.Enter <strong>billing</strong> details, <strong>upload</strong> Gujarati Birth Certificate/s and <strong>pay</strong>!</em></li>
                                </ol>
                                <br>
                                <p>Order below or Scroll down the page for full service description.</p> <br /><hr><br />
                                <h3><span style="color: red">Do Birth Certificates belong to multiple applicants?</span></h3><br />
                                <aside>(Which will require us to issue more than one certificate)</aside>

                                <label>No. of applicants:*</label><br>
                                <div style="width:15%">
                                    @Html.DropDownList("noofapplicant", ViewBag.noofapplicant as List<SelectListItem>)
                                </div>
                                <br>
                                <div data-is-required="" data-field-id="60b9d78f814e0">
                                    <h3><span style="color: red">Select required services:</span></h3>
                                    <br>
                                    ☑️&nbsp;<span style="color: grey">Certified Translation (Included by default - free)</span>
                                </div>
                                <br>
                                <div for="60ae7178ee575">
                                    <div class="wapf-field-label wapf--above">
                                        <label>
                                            <span>Require document/s to be Apostilled?</span>
                                            <abbr class="required" title="required">*</abbr>
                                        </label>
                                    </div>

                                    <div data-is-required="1">
                                        <button type="submit" style="display: inline-block;">No</button>
                                        <button type="submit" style="display: inline-block;">Yes</button>
                                    </div>
                                    <br>
                                </div>

                            </div>
                        </div>
                        <div id="group54" style="width:35%">
                            <div style="font-size:medium">
                                <div style="width:100%;" for="60ae7178ee571">
                                    <div><label><span>Applying for Canada immigration/visa?</span></label></div><div class="wapf-field-input">
                                        <br>
                                        <input type="hidden" data-fid="60ae7178ee571" value="0" name="wapf[field_60ae7178ee571]">
                                        <label for="30756">
                                            <input id="30756" type="checkbox" value="1" data-is-required="" data-field-id="60ae7178ee571" name="wapf[field_60ae7178ee571]" data-wapf-price="[field.60bc6a5519a1c]*850+150" data-wapf-pricetype="fx" data-wapf-tax="1">

                                            Yes (<span>+₹1,000.00</span>)

                                        </label>
                                        <br>
                                    </div><div>Canada requires compulsory notarization with translator's affidavit.</div><br>
                                </div>
                                <label>
                                    <span>Require notarized translation?</span>
                                    <abbr class="required" title="required">*</abbr>
                                </label>
                                <div data-is-required="1">
                                    <button type="submit" style="display: inline-block;">No</button>

                                    <button type="submit" style="display: inline-block;">Yes <span>(<span>+₹400.00</span>)</span><input type="button"  data-wapf-label="Yes" data-is-required="1" required=""  data-wapf-tax="1"></button>
                                </div>
                                <br>
                                <div><label><span>Courier notarized &amp; certified translation to an Indian address?</span></label></div>
                                <div class="wapf-field-input"><div class="wapf-radios"><input type="hidden" data-fid="60ae7178ee587" value="0" name="wapf[field_60ae7178ee587]"><div ><label for="62564" class="wapf-input-label"><input type="radio" id="62564" name="wapf[field_60ae7178ee587]" data-wapf-label="No, only scanned copy via email" data-is-required="" data-wapf-pricetype="fixed" data-wapf-price="-150"><span class="wapf-custom"></span><span class="wapf-label-text">No, only scanned copy via email <span class="wapf-pricing-hint">(<span class="wapf-addon-price">₹-150.00</span>)</span></span></label></div><div class="wapf-checkable has-pricing"><label for="31132" class="wapf-input-label"><input type="radio" id="31132" name="wapf[field_60ae7178ee587]" class="wapf-input" data-field-id="60ae7178ee587" value="uygo1" data-wapf-label="No, will collect from your Mumbai office" data-is-required="" data-wapf-pricetype="fixed" data-wapf-price="-150"><span class="wapf-custom"></span><span class="wapf-label-text">No, will collect from your Mumbai office <span class="wapf-pricing-hint">(<span class="wapf-addon-price">₹-150.00</span>)</span></span></label></div><div class="wapf-checkable"><label for="68281" class="wapf-input-label"><input type="radio" id="68281" name="wapf[field_60ae7178ee587]" class="wapf-input" data-field-id="60ae7178ee587" value="1rcwy" data-wapf-label="Yes, send via standard courier service" data-is-required="" checked=""><span class="wapf-custom"></span><span class="wapf-label-text">Yes, send via standard courier service </span></label></div><div class="wapf-checkable has-pricing"><label for="73952" class="wapf-input-label"><input type="radio" id="73952" name="wapf[field_60ae7178ee587]" class="wapf-input" data-field-id="60ae7178ee587" value="ungcz" data-wapf-label="Yes, send via express courier service" data-is-required="" data-wapf-pricetype="fixed" data-wapf-price="250"><span class="wapf-custom"></span><span class="wapf-label-text">Yes, send via express courier service <span class="wapf-pricing-hint">(<span class="wapf-addon-price">+₹250.00</span>)</span></span></label></div></div></div>
                                <br><hr>
                                <h3><span style="color: red">Confirm selected services &amp; timeline (or change selections above):</span></h3><br>
                                <span style="color: darkgreen">✔️Certified Translation (Included by default - Free)&nbsp;</span><br>
                                <br><span>Turnaround: 48 hours </span><span style="font-family: lato;font-size: 14px;font-style: normal;font-weight: 400;letter-spacing: normal;text-align: start;text-indent: 0px;text-transform: none;float: none">(For upto 3 pages. Add 6 hours for each additional page)</span><br>
                               
                                <br>
                                <span style="color: darkgreen">✔️Notarization of certified translation&nbsp;</span><br>
                                <span>Time required: 1 working day after certified translation </span>
                                <br><br><span>Add-ons Cost (Total for all pages/documents)</span>
                                <button type="submit" name="add-to-cart" value="19704" style="display: inline-block; opacity: 1; background-color: #38abcf">Proceed to checkout</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="group-66-eTr">
                <p class="faq-Zap">FAQ</p>
                <div class="group-65-H12">
                    <div class="group-60-QbS">
                        <p class="what-is-wordstag-jNp">What is Wordstag?</p>
                        <img class="ic-outline-plus-TZi" src="~/assets/ic-outline-plus.png" />
                    </div>
                    <div class="group-61-PTN">
                        <p class="how-many-languages-does-wordstag-support-KM2">How many languages does Wordstag support?</p>
                        <img class="ic-outline-plus-DxC" src="~/assets/ic-outline-plus-k8Q.png" />
                    </div>
                    <div class="group-62-A6k">
                        <p class="how-can-i-communicate-with-the-translator-VPv">How can I communicate with the translator?</p>
                        <img class="ic-outline-plus-1dA" src="~/assets/ic-outline-plus-QdW.png" />
                    </div>
                    <div class="group-63-LvL">
                        <p class="how-can-i-track-the-status-of-my-translation-gUQ">How can I track the status of my translation?</p>
                        <img class="ic-outline-plus-bLU" src="~/assets/ic-outline-plus-176.png" />
                    </div>
                    <div class="group-64-w9S">
                        <p class="how-can-i-become-a-translator-at-wordstag-Tda">How can I become a translator at Wordstag?</p>
                        <img class="ic-outline-plus-z7i" src="~/assets/ic-outline-plus-4JU.png" />
                    </div>
                </div>
            </div>
            <div class="frame-73-W64">
                <div class="group-71-psS">
                    <p class="get-in-touch-nJU">Get in Touch</p>
                    <p class="looking-to-establish-a-local-footprint-in-emerging-global-markets-contact-to-our-language-expert-today-WEU">Looking to establish a local footprint in emerging global markets? Contact to our language expert today</p>
                </div>
                <div class="group-72-Q4x">
                    <div class="group-81-jsv">
                        <div class="auto-group-blvw-tF2">
                            <div class="group-67-SGY">
                                <p class="first-name-zJ4">First name
                                </p>
                                <div class="rectangle-27-hiG">
                                </div>
                            </div>
                            <div class="group-68-d68">
                                <p class="last-name-yvg">Last name</p>
                                <div class="rectangle-27-idN">
                                </div>
                            </div>
                        </div>
                        <div class="group-69-eX2">
                            <p class="e-mail-D4L">E-mail</p>
                            <div class="rectangle-27-8wz">
                            </div>
                        </div>
                        <div class="group-70-sPn">
                            <p class="message-dNx">Message</p>
                            <div class="rectangle-27-ZGc">
                            </div>
                        </div>
                    </div>
                    <p class="by-submitting-this-form-you-agree-to-wordstags-privacy-policy-and-terms-conditions-5Ex">
                        <span class="by-submitting-this-form-you-agree-to-wordstags-privacy-policy-and-terms-conditions-5Ex-sub-0">By submitting this form, you agree to WORDSTAG’S </span>
                        <span class="by-submitting-this-form-you-agree-to-wordstags-privacy-policy-and-terms-conditions-5Ex-sub-1"> Privacy Policy</span>
                        <span class="by-submitting-this-form-you-agree-to-wordstags-privacy-policy-and-terms-conditions-5Ex-sub-2"> and </span>
                        <span class="by-submitting-this-form-you-agree-to-wordstags-privacy-policy-and-terms-conditions-5Ex-sub-3">Terms &amp; Conditions.</span>
                    </p>
                    <div class="frame-71-rBA">Continue</div>
                </div>
            </div>
        }
    </div>
</body>
</html>