<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Contct us</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A300%2C400%2C500%2C600" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C500%2C600" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans%3A400" />
    <link rel="stylesheet" href="~/styles/contct-us.css" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxlswj6IWjzgiuqoG7IxoMWn8kXWU54vY&callback=initMap" async defer></script>


</head>
<body>
    <div class="contct-us-Zvg">
        <div class="auto-group-whvm-67J">
            <div class="frame-259-pJC">
                <p class="contact-us-95a">CONTACT US</p>
                <div class="frame-258-Dr8">
                    <img class="carbon-home-iH6" src="~/assets/carbon-home-fB6.png" />
                    <div class="contact-us-BwN">
                        <span class="contact-us-BwN-sub-0">&gt;</span>
                        <span class="contact-us-BwN-sub-1"> Contact Us</span>
                    </div>
                </div>
            </div>
            <div class="group-1000004421-47z">
                <div class="group-1000004419-Pvx">
                    <div class="frame-1000004416-LLQ">
                        <p class="have-a-project-in-mind-FTN">Have a project in mind?</p>
                        <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-eu-elit-pellentesque-commodo-lectus-sit-amet-hendrerit-orci-y8U">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu elit pellentesque, commodo lectus sit amet, hendrerit orci. </p>
                        <div class="auto-group-tn4s-qwN">
                            <div class="frame-1000004420-NRW">
                                <div class="frame-1000004418-VFE">
                                    <img class="fluent-call-24-filled-bp4" src="~/assets/fluent-call-24-filled-yPN.png" />
                                    <p class="item-91-7069731619-w7E">+91 7069731619</p>
                                </div>
                                <div class="frame-1000004417-rjz">
                                    <img class="ion-mail-C3A" src="~/assets/ion-mail.png" />
                                    <p class="bellowordstagcom-XLL">bello@wordstag.com</p>
                                </div>
                                <div class="frame-1000004419-fBe">
                                    <img class="ic-baseline-location-on-BQt" src="~/assets/ic-baseline-location-on-UcY.png" />
                                    <p class="ahmedabad-india-hu2">Ahmedabad, India</p>
                                </div>
                            </div>
                            <div class="group-1000004420-Rq2">
                                <div class="ellipse-23-m8C">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group-81-9uS">
                    <div class="auto-group-v379-6Jt">
                        <div class="group-67-Efz">
                            <p class="first-name-z9N">First name</p>
                            <div class="rectangle-27-Jvk">
                            </div>
                        </div>
                        <div class="group-68-2rk">
                            <p class="last-name-nqv">Last name</p>
                            <div class="rectangle-27-iDn">
                            </div>
                        </div>
                    </div>
                    <div class="group-69-q3W">
                        <p class="e-mail-or-mobile-no-aWt">E-mail or Mobile No.</p>
                        <div class="rectangle-27-HgC">
                        </div>
                    </div>
                    <div class="group-70-ouS">
                        <p class="message-yJ8">Message</p>
                        <div class="rectangle-27-JLQ">
                        </div>
                    </div>
                    <div class="auto-group-aga7-p3r">
                        <div class="frame-71-Lnt">Send Message</div>
                        <div class="frame-1000004413-bTv">
                            <div class="frame-1000004413-kLp">
                                <div class="got-a-question-ask-our-experts-HrY">
                                    <span class="got-a-question-ask-our-experts-HrY-sub-0">Got a question? </span>
                                    <span class="got-a-question-ask-our-experts-HrY-sub-1">Ask our experts!</span>
                                </div>
                                <div class="we-are-available-at-your-services-24-7-XPW">We are available at your services 24/7</div>
                            </div>
                            <div class="frame-427319284-EHv">
                                <img class="uil-facebook-f-Xnp" src="~/assets/uil-facebook-f.png" />
                                <img class="ph-instagram-logo-fill-raC" src="~/assets/ph-instagram-logo-fill-ZY4.png" />
                                <img class="mdi-twitter-zRW" src="~/assets/mdi-twitter-tKa.png" />
                                <img class="mdi-linkedin-Wue" src="~/assets/mdi-linkedin.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-1000004422-eFA">
            <p class="where-to-find-us-aec">Where to find us</p>
            <div id="map" class="myclass">

                <script>
                    function initMap() {

                        var myCenter = new google.maps.LatLng(23.11391, 72.54128);
                        var mapProp = { center: myCenter, zoom: 12, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
                        var map = new google.maps.Map(document.getElementById("map"), mapProp);
                        var marker = new google.maps.Marker({ position: myCenter });
                        marker.setMap(map);
                    }
                </script>
            </div>



            <div class="frame-1000004421-nXi">
                <div class="frame-1000004404-7K6">
                    <div class="frame-271-Fw6">
                        <img class="ic-baseline-location-on-Mz8" src="~/assets/ic-baseline-location-on-BvG.png" />
                        <p class="office-V4k">Office</p>
                    </div>
                    <div class="frame-270-dAx">
                        <p class="ahmedabad-india-NuE">Ahmedabad, India</p>
                        <p class="ganesh-glory-godrej-garden-city-road-jagatpur-ahmedabad-382470-vA4">1005, Ganesh Glory, Godrej Garden City Road, Jagatpur, Ahmedabad 382470.</p>
                    </div>
                </div>
                <div class="frame-1000004421-RMi">
                    <div class="frame-1000004408-xMe">
                        <div class="frame-272-5x4">
                            <img class="fluent-call-24-filled-cBJ" src="~/assets/fluent-call-24-filled-2Pz.png" />
                            <p class="contact-wUU">Contact</p>
                        </div>
                        <p class="item-91-7069731619-UjJ">+91 7069731619</p>
                    </div>
                    <div class="frame-1000004408-QN4">
                        <div class="frame-273-kRv">
                            <img class="raphael-mail-Usi" src="~/assets/raphael-mail.png" />
                            <p class="mail-DaQ">MAIL</p>
                        </div>
                        <p class="bellowwordstagcom-MRi">bellow@wordstag.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>



</body>
</html>
